*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#Python
pyenv/*
*.pyc
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#VSCODE
.vscode/

#IDEA
wweapi/.idea/
wweapi/.gradle/
wweapi/build/
wweapi/gradle/
wweapi/out/
wweapi/.classpath
wweapi/.project
wweapi/.settings/
wweapi/bin/
wweapi/wwe-api.iml
wweapi/wwe-api.ipr
wweapi/wwe-api.iws

